.search-page {
  padding: 20px;
}

.film-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.film-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.film-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.poster-container {
  width: 100%;
  height: 225px; /* Sabit afiş yüksekliği */
  overflow: hidden;
}

.film-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
}

.film-card:hover .film-poster {
  transform: scale(1.05);
}

.film-info {
  padding: 10px;
  text-align: center;
}

.film-info h3 {
  font-size: 1rem;
  margin: 0 0 5px;
  color: #f5c518; /* IMDB sarısı */
}

.film-info p {
  font-size: 0.85rem;
  margin: 0;
  color: #ccc;
}
